


<header>
    <nav class="navigation">
      <div class="logo">
        <h3>
          <i class="fas fa-dumbbell"></i> FlexiForme
        </h3>
      </div>
      <div class="menu">
        <a href="#k"><i class="fa fa-home"></i>HOME</a>
        <a href="#k">formules</a>
        <a href="#mo">contact</a>
      </div>
      <form class="search-form" action="#" method="get">
        <input type="text" name="search" placeholder="Search...">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </nav>
    <main>
      <section>
        <div id="m1">
          <img src="assets/R.jpg" alt="">
          <p># Training #since 2020</p>
        </div><br><br>
        <div id="mm">
            <a (click)="loginAction()" class="btnone1">login here</a>
            <a (click)="signupAction()" class="btntwo">Signup here</a>
          </div>
        <h3>Welcome To FlexiForme </h3>
        <p id="k1">"Ensemble repoussons nos limites physiques et <br> mentales dans la bonne humeur"</p>
      </section>
    </main>
  </header>
  
  <section id="fo">
    <div class="card-container">
      <div class="card1">
        <h2>Adresse</h2>
        <hr id="f">
        <p>Adresse : 123, Rue de a salle</p>
        <hr id="f">
        <p>Téléphone : 0123 456 789</p>
        <hr id="f">
        <p>Services : boxing,....,...</p>
      </div>
      <div class="card2">
        <h2>Adresse</h2>
        <hr id="f">
        <p>Adresse : 123, Rue de la salle </p>
        <hr id="f">
        <p>Téléphone : 0123 456 789</p>
        <hr id="f">
        <p>Services : training, Consultations, coaching</p>
      </div>
      <div class="card1">
        <h2>Horaires d'ouverture</h2>
        <hr id="f">
        <p>Lundi - Vendredi : 8h00 - 18h00</p>
        <hr id="f">
        <p>Samedi : 9h00 - 14h00</p>
        <hr id="f">
        <p>Dimanche : Fermé</p>
      </div>
      <div class="card2">
        <h2>Informations supplémentaires</h2>
        <p>Ce centre de training est dédié à fournir des soins de qualité à la communauté locale. Nous sommes là pour vous.</p>
      </div>
    </div>
  </section>
  
  <section id="n">
    <h1>Nos coaches sont là pour vous</h1>
    <div class="values-container">
      <div class="value">
        <div class="icon">
          <i class='fa fa-quote-left icon'></i>
          <img src="assets/k6.jpg" alt="Écoute">
        </div>
        <h3>Benjamin Lee</h3>
      </div>
      <div class="value">
        <div class="icon">
          <i class='fa fa-quote-left icon'></i>
          <img src="assets/k5.jpg" alt="Conseil">
        </div>
        <h3>Grace Harris</h3>
      </div>
      <div class="value">
        <div class="icon">
          <i class='fa fa-quote-left icon'></i>
          <img src="assets/k4.jpg" alt="Créativité">
        </div>
        <h3>Alexander White</h3>
      </div>
      <div class="value">
        <div class="icon">
          <i class='fa fa-quote-left icon'></i>
          <img src="assets/k7.jpg" alt="Satisfaction Client">
        </div>
        <h3>Ethan Jackson</h3>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="span">
    <div class="image-container">
        <img src="/assets/s1.jpg" alt="Image 1">
        <img src="/assets/s2.jpg" alt="Image 2">
        <img src="/assets/s3.jpg" alt="Image 3"></div>
     <br><br>
      
      <h3 id="k">Les formules </h3>
      <hr id="gr">
      <p id="lo1">choisissez une formule</p>
    
    
    <div> <div class="paragraph-container">
        <p class="paragraph"><i class="fa fa-user"></i>  1-personne <br><br>
            
            
            Aucune remise pour 1 personne <br> <br>
    <b><u>Plan 1 :</u> Adhésion de Base</b>
    <br><br><br>
    &rarr;Description : Abonnement standard pour un accès complet à la salle de sport. <br>
    &rarr;Avantages : Utilisation des installations de base, accès aux cours de groupe réguliers. <br>
    &rarr;Remise : Aucune remise spécifique.<br><br>
    
    <b><u>Plan 2: </u>Adhésion Flex  </b><br><br><br>
    
    &rarr;Description : Adhésion flexible adaptée aux horaires occupés. <br>
    &rarr;Avantages : Accès à la salle de sport pendant les heures creuses, options d'entraînement virtuel, programme d'entraînement personnalisé via une application mobile.  <br>
    &rarr;Remise : 15% de remise pour les abonnements annuels payés d'avance. <br>
    <br><br>25£-100£<br><br><a href="commentaires.htm" class="btnone">learn more</a></p>
        <p class="paragraph"><i class="fa fa-user"></i>  Plan Amis Fitness : <br> <br><br>
    
            &rarr;Description : Un abonnement conçu pour des amis qui veulent s'entraîner ensemble. <br>
            &rarr;Avantages : Accès complet à la salle de sport avec la possibilité de réserver des séances d'entraînement en groupe et de participer à des défis entre amis. <br>
            &rarr;Remise : <br>
             Aucune remise pour 1 personne. <br>
            15% de remise pour 2 personnes. <br>
            25% de remise pour 3 personnes ou plus.  <br><br>40£-140£<br><br><br><br><br><br><br><br><br><br><br><br><br><br><a href="commentaires.htm" class="btnone">learn more</a></p>
        <p class="paragraph"><i class="fa fa-user"></i> <b><u> Plan Familial :</u></b> <br><br><br>
    
            &rarr; Description : Abonnement conçu pour les familles. <br>
            &rarr;Avantages : Accès complet à la salle de sport pour tous les membres de la famille, y compris des cours de groupe et des séances d'entraînement personnalisées. <br>
            &rarr;Remise : <br>
            Aucune remise pour 1 personne. <br>
            10% de remise pour 2 personnes. <br>
            20% de remise pour 3 personnes ou plus. <br><br><br>25£/per<br><br><br><br><br><br><br><br><br><br><br><br><br><br><a href="commentaires.htm" class="btnone">learn more</a></p>
      </div></div>
     <p id="lo"><i class="fas fa-dumbbell"></i>Amusez l'aventure avec nous <i class="fas fa-dumbbell"></i></p>
    
    <hr id="gr2"></div>
  
  
  
  
  
  
  
  
  
  
  
  
  
    <section id="nn">
      <h2 >Notre concepte </h2> <hr id="gr1">
      <p id="m12">Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. Hic expedita optio vitae, <br> inventore enim tenetur nostrum, asperiores ab <br>quaerat sequi incidunt reiciendis minima. <br> Recusandae culpa quia rerum consequuntur. <br> Eaque, voluptate.</p>
     
         <div class="values-container">
         
         <div class="value"  >
         
           <div class="icon">
            
            <h1>1</h1>
           </div>
       
         </div>    <p id="p">La satisfaction de nos clients est notre priorité, et nous nous efforçons de dépasser leurs attentes.</p>
          
         <div class="value">
           <div class="icon">
           <h1>2</h1>
           
           </div> 
           
         </div><p id="p">La satisfaction de nos clients est notre priorité, et nous nous efforçons de dépasser leurs attentes.</p>
         <div class="value">
           <div class="icon">
            
               <h1>3</h1> 
           </div>
          
         </div> <p id="p">La satisfaction de nos clients est notre priorité, et nous nous efforçons de dépasser leurs attentes.</p>
         
         <div class="value">
           <div class="icon">
           <h1>4</h1>
           
           </div>
        
         </div>   <p id="p" >La satisfaction de nos clients est notre priorité, et nous nous efforçons de dépasser leurs attentes.</p>
          
         </div>
         <a routerlink="/login" class="btnone">learn more &rarr;</a>
       </section>
  
  
  
  
  
  
  
  
  
  
       
  <div class="container1" id="mo"> <a routerlink="/login" class="btn1">POUR PLUS D'INFORMATIONS</a></div><section class="faq-section"><br><br>
    <div class="split-container" id="dec">
      <!-- Moitié gauche - Image -->
      <div class="lest-half">
        <img
          aria-hidden="true"
          class="object-cover w-full h-full dark:hidden"
          src="assets/k.jpg"
          alt="Office"
          style="width: 60%;height:100%;margin-left:280px;"
        />
      </div>
    
      <!-- Moitié droite - Formulaire de contact -->
      <div class="right-half">
        <div class="container">
          <div class="contact-info">
            <div class="contact-form">
              <br /><br />
              <h3 class="title" style="margin-left: 70px;">Contactez-nous</h3>
              <div class="contact-form">
                
                <form
                action="https://formspree.io/f/xzbndrww"
                method="POST"
              >
                  <!-- ... Reste du formulaire ... -->
                  <div class="input-container">
                      <input type="text" name="nom" class="input" placeholder="Nom et prénom">
                      <label for="">Nom et prénom</label>
                    </div>
                    <div class="input-container">
                      <label for="">Email</label>
                      <input type="email" name="email" class="input" placeholder="Email">
                    </div>
                    <div class="input-container">
                      <input type="tel" name="phone" class="input" placeholder="Numéro du Téléphone">
                      <label for="">Numéro du Téléphone</label>
                    </div>
                    <div class="input-container textarea">
                      <textarea name="message" class="input" placeholder="Message"></textarea>
                      <label for="">Message</label>
                    </div>
                    <input type="submit" value="envoyer" class="btn">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
  
    <section class='newletter'>
      <div class='container flexSB'>
        <div class='left row'>
          <h1>sign up to get the latest  <br>catch sent to your inbox !</h1>
          <span> Stay tune and get the latest update</span><i class='fa fa-arrow-right'></i> <p>S'inscrire maintenant</p>
        </div>
        <div class='right row'>
          <input type='text' placeholder='Enter email address'/> <a href="commentaires.htm" class="btnone3">S'inscrire </a>
  
        </div> 
      </div>
    </section>
   
  <footer>
      <br>
      <div class='container padding'>
        <div class='box logo'>
          <h1> <i class="fas fa-dumbbell"></i> FlexiForme</h1>
        <p id="l5">Ce centre sportif est dédié à fournir des soins de qualité à la communauté locale. Nous sommes là pour vous.</p>
            <p id="l5">contacter-nous via</p>
       
            <div>
              <i class='fab fa-facebook-f icon' style="margin-right: 5px;"><span style="margin-left: 10px;">facebook</span></i>
              <i class='fab fa-twitter icon' style="margin-right: 5px;"><span style="margin-left: 10px;">twitter</span></i>
              <i class='fab fa-instagram icon' style="margin-right: 5px;"><span style="margin-left: 10px;">instagram</span></i>
              <i class='fab fa-tiktok icon' style="margin-right: 5px;"><span style="margin-left: 10px;">tiktok</span></i>
              <i class='fab fa-youtube icon' ><span style="margin-left: 10px;">youtube</span></i>
          </div>
          
            
       
         
          
        <a href="commentaires.htm" class="btnone2">book now</a></div>
        <div class='box last'>
          <h3 id="kl">Avez-vous un question?</h3>
       
          <ul>
          
            <li>
              <i class='fa fa-phone-alt'></i>&rarr;
             55759343
            </li>
            <li>
            <i class="fa fa-envelope"></i>
            contact.medical&#64;gmail.com
            </li>
            <li>
              <i class='fa fa-map'></i>&rarr;
            newyork
            </li>
          </ul><a href="commentaires.htm" class="btnone3">learn more</a>
        </div>
        <div class='box link'>
          <h3 id="kl">Des liens rapides</h3>
     
          <ul>
            <li> Contacter-nous</li>
            <li> Prix</li>
            <li> Termes et Conditions</li>
            <li> Services</li>
            <li> Feedbacks</li>
          </ul>   <a href="commentaires.htm" class="btnone3">learn more</a>
        </div>
     
        <iframe
        id="map"
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12735.422803054294!2d10.196429734534893!3d36.80649648615945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e0bf4dbd546361%3A0x397e1cc376f61c12!2sTunis%2C%20Tunisie!5e0!3m2!1sen!2sus!4v1647705477088!5m2!1sen!2sus"
        frameborder="0"
        style="border:0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
      </div>
     
    </footer>
    <div class='legal'>
      <p >
        Copyright ©2023 tous les droits sont reservés | FAQs | Policies | Cariers           <span id="so"></span>                         website made by dorra     <span id="s1"></span>         +
      </p>
  
    </div>
    
  
    <div id="arrow" *ngIf="shouldShow" (click)="scrollToTop()">↑</div>
